  body{
      font-family: 런닝맨 전소민체,리디바탕,바탕;
      font-size:larger;
      background-color: rgb(255, 245, 245);
  }
  h1,h2{
      font-weight: normal;
  }
  h1{
     font-family: 배달의민족 주아;
     font-style: italic;
     color: rgb(206, 76, 76);
     border-bottom: 1px solid pink;
     }
     h2{
            font-family: 배달의민족 주아;
            color: rgb(245, 124, 124);
        }
        p{
            color: rgb(0, 0, 0);
        }
    h2.site{
        color:rgb(255, 255, 255);
        background-color:rgb(255, 160, 160);
    }
    a:link{
        color:rgb(134, 95, 95);
    }
    a:visited{
        color:rgb(206, 76, 76);
    }
    a:hover{
        color:plum;
    }